<div class="navbar navbar-static-top">
  <ul class="nav nav-pills">
     <li>
     <a href="/">Home</a>
     </li>
     <li class="active"><a href="/dashboard">Dashboard</a></li>
     <li><a href="/about">About</a></li>
     </ul>    
</div>

<div class="container-fluid">
  <div class="page-header"><h1>Stellar++</h1></div>
  <div id="loadingspan" class="row-fluid">
  <div class="container text-center">
	<%= image_tag("loading.gif") %>
	<h1>Processing your Syllabi, please wait...</h1>
  </div>
  </div>
  <div id="classesPanel"class="row-fluid">
  <div class="span2"><h3>Classes</h3><p></p>
    <% @classes.each do |c| %>
	 <div class="row-fluid">
		<div class="well span12">
			<button class="link" id="<%= c %>"><%= c %></button>
		</div>
	</div>
	<% end %>
  </div>
  <div class="span10">
	<div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Course & Contact Information</a></li>
        <li><a href="#tab2" data-toggle="tab">Meeting Times & Dates</a></li>
        <li><a href="#tab3" data-toggle="tab">Grading Scheme</a></li>
        <li><a href="#tab4" data-toggle="tab">Locations</a></li>
      </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <% @classes.each do |c| %>
	  <div class="row-fluid">
		<div class="span12">	
      <p><strong>Instructor</strong></p>
      <p><%= @information[c]["prof_name"][0] %></p>
      <p><a href="mailto:#"><%= @information[c]["email"][0] %></a></p>
      <p><%= @information[c]["phone"][0] %></p>
      <p><%= @information[c]["office"][0] %></p>
      </div>
      </div>
	<% end %>
    </div>
    <div class="tab-pane" id="tab2">
    <% @classes.each do |c| %>
	  <div class="row-fluid">
		<div class="span12">
	      <iframe src="https://www.google.com/calendar/embed?src=<%= @information[c]["calendar"][0] %>%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>			
      </div>
      </div>
	<% end %>
    </div>
    <div class="tab-pane" id="tab3">
    <% @classes.each do |c| %>
	  <div class="row-fluid">
		<div class="span12">
          <p><%= @information[c]["grading_scheme"][0] %></p>		
      </div>
      </div>
	<% end %>
    </div>
    <div class="tab-pane" id="tab4">
      <% @classes.each do |c| %>
	  <div class="row-fluid">
		<div class="span12">
          <p><%= @information[c]["location"][0] %></p>		
      </div>
      </div>
	<% end %>
      </div>
   </div>
  </div>
 </div>
</div>
</div>
