<!DOCTYPE html>
<html>
<head>
  <title>SyllabusEater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

</body>
</html>
